hr {
    border: none;
    border-top: 2px solid #444;
    margin: 20px 0;
}

.games-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.game-card {
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    height: 200px; /* Define a altura fixa para as imagens */
    object-fit: cover; /* Faz com que as imagens ocupem todo o espaço, mantendo a proporção */
}

.game-title {
    font-size: 1.5rem;
    margin: 10px;
    color: #fff;
    text-align: center;
}

.game-year {
    font-size: 1rem;
    margin: 0 10px 10px;
    color: #ccc;
    text-align: center;
}

.play-button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px 0;
    background-color: #00ff00; /* Cor verde para lembrar o estilo Xbox Game Pass */
    color: #0e0e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #009900; /* Escurece o verde no hover */
}
